* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
@font-face
{
font-family: regular36;
src: url(fonts/字魂36号-正文宋楷.TTF);
}
@font-face
{
font-family: regular59;
src: url(fonts/字魂59号-创粗黑.TTF);
}
body {
  background-color: #031d47;
}
.pageMain {
  width: 1300px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 652px;
}
header img {
  width: 100%;
}
nav {
  position: sticky;
  position: -webkit-sticky;  
  top: 0;    
  height: 73px;
  background-color: pink;
}
nav ul li {
  float: left;
  padding: 0 28px;
}
nav ul li a {
  display: block;
  height: 73px;
 
  font-family: regular59;
  line-height: 82px;
  font-size: 25px;
  color: #acd4fc;
}
nav ul li:first-child {
  padding-left: 0;
}
.search {
  float: left;
  width: 288px;
  height: 46px;
  margin: 13.5px 0;
  margin-left: 26px;
  background-color: #fff;
}
.search input {
  width: 228px;
  height: 46px;
  font-size: 20px;
  outline: none;
  border: none;
}
.search button {
  float: right;
  width: 60px;
  height: 46px;
  border: 0;
  outline: none;
  /* background-color: blue; */
  background-image: url(images/btn.jpg);
  background-repeat: no-repeat;
  background-position: center left;
}
main {
  overflow: hidden;
  /* background-color: #fff; */
  background-image: url(images/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 30px;
}
title {
  display: block;
  height: 275px;
  /* background-color: pink; */
  background-image: url(images/title1.jpg);
}
.fixed {
  position: fixed;
  left: 100%;
  margin-left: -96px;
  margin-top: 178px;
  width: 96px;
  height: 264px;
  background-color: #87b7e6;
}
.fixed .word {
  margin: 0 auto;  
  height: 264px;  
  font-weight: 500;
  font-size: 24px;
  writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/  
  writing-mode: tb-lr;/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/  
  text-align: center;
  cursor: pointer;
	transition: all 0.6s;
}
.fixed .word:hover {
  transform: scale(1.4);
}

article p {
  padding: 40px 0;
  font-family: regular36;
  font-size: 36px;
  line-height: 2;
  color: #dbe7fa;
}
main .introduction {
  height: 263px;
  /* background-color: yellow; */
  background-image: url(images/title2.jpg);
}
main .show {
  height: 737px;
  background-color: #1b3964;
}
footer {
  padding-top: 104px;
  background: linear-gradient(to bottom, #031d47, #062b5f);
}
footer .logo {
  position: relative;
  display: inline-block;
  width: 257px;
  height: 174px;
}
footer .logo img{
  width: 100%;
}
footer .logo a {
  position: absolute;
  top: 62px;
  right: -200px;
  font-size: 36px;
  color: #cae2fb;
}
.detail {
  display: flex;
}
.detail ul {
  flex: 1;
}
.detail ul li {
  font-size: 24px;
  text-align: center;
}
.detail ul li a {
  color: #cfe5fc;
}
.detail ul li:nth-child(-n+2) {
  margin-bottom: 70px;
}
.detail ul:nth-child(-n+2) {
  border-right: 4px solid #d7e7f7;
}
footer .copyright {
  padding-top: 95px;
  padding-bottom: 58px;
  font-size: 12px;
  text-align: center;
  color: #cfe5fc;
}