.navWrap,.telnavWrap{
	height: auto;
	max-height: 1000px;
	margin:0 auto;
	*position:relative;
	*z-index:10;}
.navtel{
	display: none;
	height:40px;
	padding-top: 8px;
	position: relative;background:#004098;}
.nav{
	height:40px;background: #004098;}
.nav li{
	float:left;background: #004098;
	width:12.5%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:16px;
	position:relative;}
.nav li div{
	font-size:14px;}
.nav li a{
	width: 100%;
	color:#FFF;
	display:block;}
.nav li a.link{
	float:left;
	width:100%;}
.nav ul li a:hover,.nav ul li.cur{
	background:#003680;
	display:block;}
#nav{
	width:100%;
	line-height: 40px;
	font-size:14px;
	background:url(../images/bggg.png)  repeat;
	position:absolute;
	top:40px;
	left:0px;
	z-index: 99999;
	display:none;}
#nav a{
	color:#fff;}
#nav a:hover{
	background: rgba(0,60,130,0.8);}

.navtel .her-bom{
width: 40.4%;
height: 32px;
border: none;
background: #fff;
margin-left: 2%;}
.navtel .her-bom .heb-te{
width: 88%;
height: 32px;
line-height: 32px;
font-size: 14px;}
.navtel .her-bom .heb-but{
width: 9.5%;
height: 32px;
background:url(../images/ico.png) 0 7px no-repeat;}
.navtel .ico{
width: 36px;
cursor: pointer;
margin-right: 2%;
margin-top: 4px;}
.navtel .ico img{
width: 100%;}